<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.SellerMapper" >
  	<!-- 多条件查询商家 -->
	<select id="findAll" parameterType="int" resultType="Seller">
		select * from tb_seller
		<where>
			<if test="seller != null">
				<!-- 审核状态码 -->
				<if test="seller.status != null and seller.status !=''">
					status = #{seller.status}
				</if>
				<!-- 公司名称 -->
				<if test="seller.name != null and seller.name !=''">
					AND name like CONCAT('%',#{seller.name},'%')
				</if>
				<!-- 店铺名称 -->
				<if test="seller.nickName != null and seller.nickName !=''">
					AND nick_name like CONCAT('%',#{seller.nickName},'%')
				</if>
			</if>
		</where>
	</select>
</mapper>